# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin
build
target

#Ignore IDEs
.settings
.project
.classpath
.idea
/**/*.iml

# Ignore lombok
/**/lombok.config